@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap');

/* 
font-family: 'Ubuntu', sans-serif;
*/

body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

#title {
  background: #ff4c68;
  color: #fff;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
h3 {
  /* font-size: 3.5rem; */
  font-weight: bold;
  /* line-height: 1.5; */
}

p {
  font-size: 1.2rem;
}
/* Nav bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  /* border: 1px solid white; */
  color: #fff !important;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
}

/* Features Section */

#features {
  padding: 7% 15%;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
  .btn {
    width: 60%;
  }
}

/* Testimonials Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
  /* padding: 7% 15%; */
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.hide-line {
  visibility: hidden;
}

.card {
  min-width: 220px;
}

@media (max-width: 1200px) {
  #bootstrap-override-1 {
    width: 100%;
  }

  #bootstrap-override-2 {
    width: 100%;
  }

  #bootstrap-override-3 {
    margin: auto;
    width: 50%;
  }
}

@media (max-width: 998px) {
  #bootstrap-override-3 {
    /* margin: auto; */
    width: 100%;
  }
}
